<!DOCTYPE html>
<html ng-app = 'myApp'>
<head>
	<title>Festivals</title>
  <!-- <link rel="stylesheet" type="text/css" href="./static/css/materialize.css"> -->
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./static/css/hover.css">
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
  <script type="text/javascript" src = './../angular/angular.js'></script>
  <script type="text/javascript" src = './../angular-route/angular-route.js'></script>
  <script type="text/javascript" src = './../angular-messages/angular-messages.js'></script>
  <script type="text/javascript" src = './../moment/moment.js'></script>
  <!-- <script type="text/javascript" src="./static/js/materialize.js"></script> -->
  <script type="text/javascript" src="./static/js/ui-bootstrap-tpls-2.1.2.js"></script>
  <script type="text/javascript" src = 'login-app.js'></script>
  <script type="text/javascript" src = './services/userFactory.js'></script>
  <script type="text/javascript" src = './services/eventFactory.js'></script>
  <script type="text/javascript" src = './controllers/addEventController.js'></script>
  <script type="text/javascript" src = './services/stageFactory.js'></script>
  <script type="text/javascript" src = './services/artistFactory.js'></script>
  <script type="text/javascript" src = './controllers/eventsController.js'></script>
  <script type="text/javascript" src = './controllers/btnController.js'></script>
  <script type="text/javascript" src = './controllers/eventModalController.js'></script>
  <script type="text/javascript" src = './controllers/usersController.js'></script>
  <script type="text/javascript" src = './controllers/eventsController.js'></script>
  <script type="text/javascript" src = './controllers/stagesController.js'></script>
  <script type="text/javascript" src = './controllers/artistsController.js'></script>
  <script type="text/javascript" src = './controllers/adminDashboardController.js'></script>
  <script type="text/javascript" src = './controllers/eventsController.js'></script>
  
</head>
<body class = "login-body">
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '513110152224904',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<div class='nav'>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/#/">Festivals</a>
        </div>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
</div>


<div class = "container-fluid" ng-controller = "usersController">
  <div >
    <div class = 'login'>
      <div class = 'row'>
        <h1 class = 'col-xs-3 col-xs-offset-2' > Login</h1>
      </div>
      <div class = 'row'>   
          <fb:login-button class = "col-xs-3 col-xs-offset-4" size="large"
                           onlogin="Log.info.bind('onlogin callback')">
            Login with Facebook
          </fb:login-button>      
      </div>
      <form ng-submit = 'login()'>
        <div class ='row'>
          <input class = 'col-xs-5 col-xs-offset-3 input-lg' type="email" name="emai" placeholder="Email" ng-model='User.email'>
        </div>
        <div class = 'row'>
          <input class = 'col-xs-5 col-xs-offset-3 input-lg' type="password" name="password" placeholder = "Password" ng-model= 'User.password'>
        </div>
        <div class = 'row'>
          <input class = 'col-xs-3 col-xs-offset-4 btn btn-primary' type="submit" name="submit" Value = "Log In">
        </div>
      </form> 
      <div class = 'row'>
        <p class = 'col-xs-3 col-xs-offset-4'> Sign up with <a href="#/registration">Email</a></p>
      </div>
    </div>
  </div>
</div>

		<div ng-view='' class = ''>
			
		</div>


	
</body>
</html>