<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Admin Page</title>
</head>
<body>
	<div class='container admin' ng-controller = 'adminDashboardController'>
		<a href="/#/admin/event"><button>Add New Event</button></a>
		<table>
			<thead>
				<th>Start Date</th>
				<th>Event Name</th>
				<th>Location</th>
				<th># of Stages</th>
				<th># of Artists</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td>{{event.startDate}}</td>
					<td>{{event.name}}</td>
					<td>{{event.location}}</td>
					<td>{{event._stages.length}}</td>
					<td>{{event._artists.length}}</td>
					<td><a href="/#/admin/event/{{event._id}}">Edit Event</a> | <a href="/#/admin/stage/{{event._id}}">Add Stage</a> | <a href="/#/admin/artist/{{event._id}}">Add Artist</a> | <button ng-click="delete(event)">Remove Event</button></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>