<!DOCTYPE html>
<html>
<head>
	<title>Festival Dash</title>
</head>
<body>
	<div class = 'dash-snips row'>
	<table>
		<tr>
		<td><a href="#/bonaroo"><div class = "dash-snip col-md-3 ">
			<h1>Bonaroo</h1>
			<h5><small>Manchest, TN</small></h5>
			<img src='http://www.mtsu.edu/bonnaroo/images/blue-bonnaroo-logo.png'>
			<hr>
			<div class="home-description">
			<p>The first Bonnaroo took place in 2002. The founders chose "bonnaroo," a Creole slang word meaning "a really good time," for its literal meaning and to honor the rich New Orleans music tradition they had enjoyed in college.Main attractions of this festival are the multiple stages featuring live music with a diverse array of musical styles including indie rock, classic rock, world music, hip hop, jazz, americana, bluegrass, country music, folk, gospel, reggae, pop, electronica, and other alternative music. </p>
			</div>
			
		</div></a></td>
		
		<td><a href="#/bumbershoot"><div class = "dash-snip col-md-3">
			<h1>Bumbershoot</h1>
			<h5><small>Seattle, WA</small></h5>
			<img src="http://bumbershoot.com/images/ugc/uploads/misc/Bumbershoot-logo1.png">
			<hr>
			<div class="home-description">
			<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
			</div>
			
		</div></a></td>
		<td><a href="#/edc"><div class = "dash-snip col-md-3">
			<h1>EDC</h1>
			<h5><small>Las Vegas, NV</small></h5>
			<img src="https://static-label.frontgatetickets.com/label/1613/img/header.png">
			<hr>
			<div class="home-description">
			<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
			</div>
		</div></a></td>
		<td><a href="#/sasquatch"><div class = "dash-snip col-md-3">
			<h1>Sasquatch</h1>
			<h5><small>Gorge, WA</small></h5>
			<img src="http://3.bp.blogspot.com/-K76QJO6R_3I/T8KO4KS25oI/AAAAAAAAAGE/VfMhQRsfTDc/s1600/logo.png">
			<hr>
			<div class="home-description">
			<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
			</div>
		</div></a></td>
		
		</tr>
		</table>
	</div>

</body>
</html>