<!DOCTYPE html>
<html>
<head>
	<title>Festival Dash</title>
</head>
<script type="text/javascript">
	$(document).ready(function(){
    	$('.parallax').parallax();
	$(function() {
	    var lastElement = false;
	    $("ul li").each(function() {
	        if (lastElement && lastElement.offset().top != $(this).offset().top) {
	            $(lastElement).addClass("nobullet");
	        }
	        lastElement = $(this);
	    }).last().addClass("nobullet");
	});
});
</script>
</script>
<body>
	<div class = 'dash-snips container-fluid' ng-controller="ModalDemoCtrl as $ctrl">
		<div class = 'row dash-snip-row' >
			
			<div class = "col-md-3" style="padding-left: 5px; padding-right: 5px;">
				<div ng-click="$ctrl.open(1)"  class = "hvr-grow dash-snip" >
					<h1>Bonaroo</h1>
					<h5>Manchest, TN</h5>
					<img ng-src='http://www.mtsu.edu/bonnaroo/images/blue-bonnaroo-logo.png'>
					<hr ng-if = "$ctrl.showThis1">
					<div class="home-description" ng-if="$ctrl.showThis1">
						<p >The first Bonnaroo took place in 2002. The founders chose "bonnaroo," a Creole slang word meaning "a really good time," for its literal meaning and to honor the rich New Orleans music tradition they had enjoyed in college.Main attractions of this festival are the multiple stages featuring live music with a diverse array of musical styles including indie rock, classic rock, world music, hip hop, jazz, americana, bluegrass, country music, folk, gospel, reggae, pop, electronica, and other alternative music. </p>
					</div>
				</div>
			</div>

			<div class = "col-md-3" style="padding-left: 5px; padding-right: 5px;">
				<div ng-click="$ctrl.open(2)"  class = "hvr-grow dash-snip" href="#/event">
					<h1>Bumbershoot</h1>
					<h5>Seattle, WA</h5>
					<img ng-src="http://bumbershoot.com/images/ugc/uploads/misc/Bumbershoot-logo1.png">
					<hr ng-if="$ctrl.showThis2">
					<div class="home-description" ng-if="$ctrl.showThis2">
						<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
					</div>
				</div>
			</div>
			

			<div class = "col-md-3" style="padding-left: 5px; padding-right: 5px;">

				<div ng-click="$ctrl.open(3)"  class = "hvr-grow dash-snip" href="#/event">
					<h1>EDC</h1>
					<h5>Las Vegas, NV</h5>
					<img ng-src="https://static-label.frontgatetickets.com/label/1613/img/header.png">
					<hr ng-if="$ctrl.showThis3">
					<div class="home-description" ng-if="$ctrl.showThis3">
						<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
					</div>
				</div>
			</div>

			<div class = "col-md-3" style="padding-left: 5px; padding-right: 5px;">

				<div ng-click="$ctrl.open(4)"  class = "hvr-grow dash-snip " href="#/event">
					<h1>Sasquatch</h1>
					<h5>Gorge, WA</h5>
					<img src="http://3.bp.blogspot.com/-K76QJO6R_3I/T8KO4KS25oI/AAAAAAAAAGE/VfMhQRsfTDc/s1600/logo.png">
					<hr ng-if="$ctrl.showThis4">
					<div class="home-description" ng-if="$ctrl.showThis4">
						<p>Sasquatch was an idea born on a hunch that there was untapped demand for a certain kind of festival that catered to the eclectic tastes of music enthusiasts. It started in 2002, which was shortly after a number of the touring festivals (Lollapalooza, Lilith, Horde) had petered out and the beginning of the wave of regional festivals that started with Coachella and now is a dominant force on the music landscape, with Bonnaroo, Austin City Limits, etc.</p>
					</div>
				</div>
			</div>
			
		</div>
		<div class ='row'>
			<div class = 'override col-md-12'>
				<div class = 'hvr-grow2 main-background'>
					<div class = 'main-background-img'>
					</div>	
					<div class = 'main-background-text'>
						<div  class = 'main'>
							<h1><span class = 'bumbershoot'>BumberShoot</span><br> Labor Day Weekend</h1>
							<h4><span class = 'bumbershoot0'>September</span> <span class = 'bumbershoot1'>2</span>•<span class = 'bumbershoot3'>3</span>•<span class = 'bumbershoot1'>4</span>, 2016</h4>
							<hr>
							<br>
							<h1 class = 'bumbershoot2'>Seattle,WA</h1>					
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class = 'main2'>
				<h1>HEY</h1>
			</div>
		</div>
	</div>
</body>
</html>