
<div class='navlogin'>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#/">Festivals</a>
		    </div>
	    </div><!-- /.navbar-collapse -->
    </nav>
</div>
<div class = "container-fluid">

	<div class = "row login">
		<div class = " col-xs-10 form-group " ng-controller = "usersController">
			<form ng-submit = 'login()' class ='form-horizontal'>
				<input type="email" name="email" placeholder="Email" ng-model='User.email' class="form-control input-lg">
					
				<input type="password" name="password" placeholder = "Password" ng-model= 'User.password' class="form-control input-lg">
			
				<p>Not a member? <a href="#/create">Register</a></p></td>
			</form>
		</div>
	</div>
</div>
