<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>

	<div class = "container login" ng-controller = "usersController">
		<label>Login</label>
		<form ng-submit = 'login()'>
			<table>
			
				<tr>
					<td>Email:</td>
					<td><input type="email" name="emai" placeholder="Email" ng-model='User.email'></td>
				</tr>
				<tr>
					<td>Password:</td>	
					<td><input type="password" name="password" placeholder = "Password" ng-model= 'User.password'></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Login"></td>
					<td><p>Not a member? <a href="#/create">Register</a></p></td>
				</tr>
			
			</table>
		</form>
	</div>

</body>
</html>