<!DOCTYPE html>
<html>
<head>
	<title>Register User</title>
</head>
<body>


<div class = "register cols-xs-" ng-controller = "usersController">
	<label>Register</label>
		<form ng-submit = 'create()'>
			<table>
				<tr>
					<td>First:</td>
					<td><input type="text" name="fname" placeholder="First Name" ng-model='newUser.fname'></td>
				</tr>
				<tr>
					<td>Last:</td>
					<td><input type="text" name="lname" placeholder="Last Name" ng-model='newUser.lname'></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" name="email" placeholder="Email" ng-model='newUser.email'></td>
				</tr>
				<tr>
					<td>Password:</td>	
					<td><input type="password" name="password" placeholder = "Password" ng-model= 'newUser.password'></td>
				</tr>
				<tr>
				<!-- <tr>
					<td>Confirm Password:</td>	
					<td><input type="password" name="confirmpassword" placeholder = "Confirm Password" ng-model= 'newUser.confirmpass'></td>
				</tr> -->
					<td></td>
					<td><input class='btn btn-primary' type="submit" name="submit" value="Create Account"></td>
				</tr>
			</table>
		</form>

	</div>

</body>
</html>