<!DOCTYPE html>
<html>
<head>
	<title>Register User</title>
</head>
<body>


<div class = "register cols-xs-" ng-controller = "usersController">
	<label>Register</label>
		<form ng-submit = 'create()'>
			<table>
				<tr>
					<td>First:</td>
					<td><input type="text" name="fname" placeholder="First Name" ng-model='newUser.fname'></td>
				</tr>
				<tr>
					<td>Last:</td>
					<td><input type="text" name="lname" placeholder="Last Name" ng-model='newUser.lname'></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" name="email" placeholder="Email" ng-model='newUser.email'></td>
				</tr>
				<tr>
					<td>Password:</td>	
					<td><input type="password" name="password" placeholder = "Password" ng-model= 'newUser.password'></td>
				</tr>
				<tr>
				<tr>
					<td>Confirm Password:</td>	
					<td><input type="password" name="confirmpassword" placeholder = "Confirm Password" ng-model= 'newUser.confirmpass'></td>
				</tr>
					<td></td>
					<td><input class='btn btn-primary' type="submit" name="submit" value="Create Account"></td>
				</tr>
			</table>
		</form>

	</div>

	<div ng-controller="ButtonsCtrl">
    <h4>Single toggle</h4>
    <pre>{{singleModel}}</pre>
    <button type="button" class="btn btn-primary" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Single Toggle
    </button>
    <h4>Checkbox</h4>
    <pre>Model: {{checkModel}}</pre>
    <pre>Results: {{checkResults}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
        <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
        <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
    </div>
    <h4>Radio &amp; Uncheckable Radio</h4>
    <pre>{{radioModel || 'null'}}</pre>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
    </div>
    <div class="btn-group">
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
        <label class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Right</label>
    </div>
    <div>
        <button class="btn btn-default" ng-click="uncheckable = !uncheckable">
            Toggle uncheckable
        </button>
    </div>
</div>

</body>
</html>