.admin{
	/*border-top: 1px solid white;*/
	margin-top: 30px;
	background-color: rgba(245, 245, 245, .5);
	width: 300px;
	height: 300px;

}



body{
	background-color: black;
}



td{
	text-align: center;
}

hr{
	vertical-align: top;
}

img{
	width:150px;
	height:100px;
	vertical-align: top;
}


.navbar{
background: linear-gradient(to right, rgba(46,46,46,1) 1%, rgba(23,23,23,1) 15%, rgba(10,10,10,1) 23%, rgba(26,26,26,1) 57%, rgba(26,26,26,1) 72%, rgba(38,38,38,1) 92%, rgba(43,43,43,1) 100%);	}

.dash-snip{
	margin-top: 30px;
	/*width: 250px;
	height: 400px;*/
	width: auto;
	height: auto;
	margin-right: 56px;
	border: 1px solid whitesmoke;
}

	.home-description{
		text-align: left;	
		overflow: auto;
		margin-left: 15px;
		color: whitesmoke;
		/*background-size: contain;*/
		width: 200px;
		height: 100px;
		margin-bottom: 20px;
		
		
		font-size: .8em;
	}
	::-webkit-scrollbar {
      width: 15px;
	}
	::-webkit-scrollbar-track {
      /*background: linear-gradient(135deg, rgba(76,76,76,0.48) 0%,rgba(77,77,77,0.48) 1%,rgba(89,89,89,0.52) 9%,rgba(71,71,71,0.6) 24%,rgba(44,44,44,0.69) 41%,rgba(43,43,43,0.87) 76%,rgba(0,0,0,0.91) 84%,rgba(28,28,28,0.95) 91%,rgba(19,19,19,1) 100%);*/
      border-radius: 3px;


	}
 

 /*LOGIN & REGISTRATION*/

 .login, .register{
 	background-color: rgba(240,247,244,.8);
 	border: 6px solid rgba(37,38,39,.2);
 	border-radius: 10px;
 	margin: 0 auto;
 	display: block;
 	width: 30%;
 	text-align: center;
 	padding-top: 50px;

 }
